@charset "EUC-KR";

/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #333333;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

header .user-info {
    display: flex;
    align-items: center;
}

header .user-info span {
    margin-right: 10px;
}


/* Form styling */
form {
    margin-bottom: 20px;
}

form select,
form input[type="text"],
form input[type="password"],
form input[type="submit"],
form input[type="button"] {
    padding: 8px;
    font-size: 14px;
}

form select {
    margin-right: 10px;
}

form input[type="password"],
form input[type="text"] {
    width: 300px;
}

form input[type="submit"],
form input[type="button"]{
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
}

/* Table styling */
table {
    border-collapse: collapse;
    background-color: #f9f9f9;
}

table th,
table td {
    border: 3px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #333333;
    color: #FFFFFF;
    text-align: left;
}


/* Center align heading */
.center {
    text-align: center;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    
}

.center-form form {
    padding: 20px;
    background-color: #f9f9f9;
}

